<div class="container contact">
  <h5>Cadastro de Usuários</h5>
  <h6>Entre com os dados do usuário</h6>
  <hr />
  <div class="row">
    <div class="col s12">
      <div
        id="msg-login"
        class="card-panel white-text"
        [class.red]="!this.isSuccess"
        [class.blue]="this.isSuccess"
        *ngIf="this.isShowMessage">
        {{ this.message }}
      </div>
    </div>
    <form class="col s12" #form="ngForm" (submit)="onSubmit()">
      <div class="input-field col s12">
        <input
          id="input-name"
          name="input-name"
          type="text"
          class="validate"
          [(ngModel)]="this.user.nome"
          #name="ngModel"
          required/>
        <label for="input-name">Nome Completo *</label>
        <span
          class="helper-text"
          data-error="O campo é inválido"
          data-success="Ok!"
        ></span>
      </div>

      <div class="input-field col s12">
        <input
          id="input-username"
          name="input-username"
          type="text"
          class="validate"
          [(ngModel)]="this.user.username"
          #name="ngModel"
          required/>
        <label for="input-username">Nome de Usuário *</label>
        <span
        class="helper-text"
        data-error="O campo é inválido"
        data-success="Ok!"
      ></span>
      </div>

      <div class="input-field col s12 l6">
        <input
          id="input-password"
          name="input-password"
          type="password"
          class="validate"
          [(ngModel)]="this.user.password"
          #name="ngModel"
          pattern="^[a-zA-Z0-9_@#\\&\\$]{6,18}$"
          required
        />
        <label for="input-password">Senha *</label>
      </div>

      <div class="input-field col s12 l6">
        <input
          id="input-user-repassword"
          name="input-user-repassword"
          type="password"
          class="validate"
          [(ngModel)]="this.userRepassword"
          #name="ngModel"

          required/>
        <label for="input-user-repassword">Repita a senha *</label>

      </div>

      <button
        class="btn waves-effect waves-light amber darken-4"
        type="submit">
        Enviar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>

  <h5>Usuários cadastrados</h5>
  <!-- Tabela de usuários -->
  <table class="highlight" *ngIf="users && users!.length > 0">
    <thead>
      <tr>
        <th>Nome Completo</th>
        <th>Nome de usuário</th>
        <th>CPF</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.login | titlecase }}</td>
        <td>{{ u.nome | lowercase }}</td>
        <td></td>
        <td class="right">
          <a
            ><i class="material-icons my-icon-size" (click)="onEdit(u)"
              >edit</i
            ></a
          >
          <a
            ><i
              class="material-icons my-icon-size"
              (click)="onDelete(u.username)"
              >delete</i
            ></a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!users || users!.length == 0">
    <div class="row">
      <div class="center-align">
        <i class="col s12 material-icons large">mood_bad</i>
        <span class="col s12 flow-text"
          >Ainda não temos usuários cadastrados!</span
        >
      </div>
    </div>
  </div>

</div>
