<div class="navbar-fixed" style="z-index: 100 !important">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#!" class="brand-logo">
          <img src="/assets/resources/images/logo.png"
          class="img-responsive"
          height="120em"class="my-logo"/></a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/cadastrarUsuario">Novo</a></li>
          <li><a routerLink="/listaDeLivros">Lista de livros</a></li>
          <li><a routerLink="/visualizarLivro">Visualizar livro</a></li>
          <li><a href="badges.html">Marcar leitura de livro</a></li>
          <li><a href="badges.html">Ranking</a></li>
          <li><a href="badges.html">Pontos e troféus</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img class="circle responsive-img" src="dd" alt="" />
        </div>
      </div>
    </div>
    <li><a routerLink="/cadastrarUsuario">Novo</a></li>
    <li><a routerLink="/listaDeLivros">Lista de livros</a></li>
    <li><a routerLink="/visualizarLivro">Visualizar livro</a></li>
    <li><a href="badges.html">Marcar leitura de livro</a></li>
    <li><a href="badges.html">Ranking</a></li>
    <li><a href="badges.html">Pontos e troféus</a></li>
  </ul>
</div>
