<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper amber accent-4">
      <div class="container">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Visualizar lista de livros</a></li>
          <li><a href="badges.html">Visualizar livro</a></li>
          <li><a href="badges.html">Marcar leitura de livro</a></li>
          <li><a href="badges.html">Visualizar ranking usr</a></li>
          <li><a href="badges.html">Visualizar pontos e troféus usr</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav amber" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img class="circle responsive-img" src="dd" alt="" />
        </div>
      </div>
    </div>
    <li><a href="sass.html">Visualizar lista de livros</a></li>
    <li><a href="badges.html">Visualizar livro</a></li>
    <li><a href="badges.html">Marcar leitura de livro</a></li>
    <li><a href="badges.html">Visualizar ranking usr</a></li>
    <li><a href="badges.html">Visualizar pontos e troféus usr</a></li>
  </ul>
</div>
